*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;

}

.container .tennor-gif-embed{
    display: flex;
    min-width: 200px;
}
.container .btn{
    font-display: flex;
    gap: 25px;
}
.btn a{
    text-decoration:none ;
    color:#06060b11;
    background: #fdfbfb;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0,0%,0%, 0.3);

}


